[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flask-sqlalchemy = "*"
pytest = "*"
psycopg2-binary = "*"
factory-boy = "*"
isort = "*"
pytest-cov = "*"
codecov = "*"

[packages]
sqlalchemy = "*"

[requires]
python_version = "3.7"
